.footer {
  padding: 1rem;
  
  font-weight: 500;
  text-align: center;
  
  background-color: var(--c-black--ls);
  color: var(--c-white);

}

.footer__link {
  display: inline-block;
  
  border: .125rem solid transparent;
  padding: 0.25rem;

  border-bottom-color: inherit;
  
  isolation: isolate;
  position: relative;
  
  transition: all 0.3s ease;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--c-red--ls);
}

.footer__link:hover {
  border-color: transparent;
}

.footer__link:focus {
  border-color: var(--c-red--ls);
  border-style: dashed;
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem;
  }
}
