.header {
  background-color: var(--c-black);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2.125rem;
}

.header__logo {
  display: inline-block;
}

.header__label {
  padding: .5rem 1rem;
  background-color: var(--c-white);
  border-radius: 1.25rem;
  width: 100%;
}

.header__search::placeholder {
  color: var(--c-gray--l);
  font-size: 0.875rem;
}

.label__icon {
  color: var(--c-red--ds);
}

.header__login {
  color: var(--c-red);
  font-weight: 600;
  font-size: 0.875rem;
  border: .0625rem solid var(--c-red);
  display: inline-block;
  padding: .6rem 3rem;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }

  .header__logo {
    margin-right: 2rem;
  }

  .header__label {
    margin-right: 8.375rem;
    padding: .75rem 1rem;
  }

  .header__login {
    padding: .875rem 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 2rem 9.5rem;
  }

  .header__label {
    margin-right: 22.0625rem;
  }
}