.header {
  background-color: var(--c-black);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--header-gap);
}

.header__logo {
  display: inline-block;
  min-width: 6.25rem;
  order: 1;
}

.header__label {
  order: 3;
  width: 0;
  overflow: hidden;
}

.header__search--mobile {
  order: 4;
}

.header__search--mobile .label__icon {
  position: relative;
  right: 0.7rem;
}

.header__label.expanded {
  padding: 0.5rem 1rem;
  background-color: var(--c-white);
  border-radius: 1.25rem;
}

.header__search::placeholder {
  color: var(--c-gray--l);
  font-size: 0.875rem;
}

.label__icon {
  color: var(--c-gray);
}

.header__login {
  color: var(--c-red);
  font-weight: 600;
  font-size: 0.875rem;
  border: 0.0625rem solid var(--c-red);
  display: inline-block;
  padding: 0.6rem 3rem;
  order: 2;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }

  .header__label {
    padding: 0.5rem 1rem;
    background-color: var(--c-white);
    border-radius: 1.25rem;
    width: 100%;
    overflow: visible;
    padding: 0.5rem 1rem;
    margin-right: calc(8.375rem - var(--header-gap));
    order: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__search--mobile {
    display: none;
  }

  .label__icon {
    position: static;
  }

  .header__login {
    padding: 0.875rem 4rem;
    order: 3;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 4.25rem;
  }

  .header__logo {
    min-width: 11rem;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 2rem 9.5rem;
  }

  .header__label {
    margin-right: calc(22.0625rem - var(--header-gap));
  }
}
