.header {
  background-color: var(--c-black);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2.125rem;
}

.header__logo {
}

.header__search {
  padding: .5rem 1rem;
  background-color: var(--c-white);
  border-radius: 1.25rem;
}

.header__search::placeholder {
  color: var(--c-gray--l);
  font-size: 0.875rem;
}

.header__login {
  color: var(--c-red);
  font-weight: 600;
  font-size: 0.875rem;
  border: .0625rem solid var(--c-red);
  display: inline-block;
  padding: .6rem 3rem;
}