.info__contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fieldset__legend {
  font-weight: 700;
  font-size: 1rem;
}

.fieldset__section {
  padding: 0.5rem 0.75rem;
  background-color: var(--c-white--ds);
  color: var(--c-black--ls);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  border-bottom: 0.25rem solid transparent;

  transition: all 0.3s ease;
}

.fieldset__section:focus-within {
  transform: scale(1.02);
}

.fieldset__section:focus-within {
  box-shadow: inset 0 0 5px var(--c-gray);
  border-bottom-color: var(--c-red);
}
.fieldset__section:hover {
  border-bottom-color: var(--c-red);
}

.section__input,
.section__textarea {
  color: var(--c-black);
}

.contact__submit {
  padding: 0.75rem 1rem;
  background-color: var(--c-red--d);
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--c-white--ls);
  text-align: center;
  max-width: 9.4375rem;

  transition: all 0.3s ease;
  cursor: pointer;
}

.contact__submit:hover,
.contact__submit:focus {
  box-shadow: 0.25rem 0.25rem 0.25rem var(--c-gray);
}

.contact__submit:focus {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .info__contact {
    width: 100%;
  }

  .contact__fieldset {
    gap: 1rem;
  }

  .contact__submit {
    max-width: 10.3125rem;
    padding: 1rem;
  }
}
