.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  gap: 1rem;
  background-color: var(--c-white--ds);
}

.login__fieldset {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.login__legend {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: var(--c-black--ls);
  margin-bottom: 1rem;
}

.login__section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 17.1875rem;
  width: 100%;

  transition: all 0.2s ease;
}

.login__section:focus-within .login__section--label {
  color: var(--c-red--d);
  background-color: var(--c-white);
  box-shadow: inset 0 0 0.25rem var(--c-black--ls);
}

.login__section--warn {
  min-height: 2ch;
  color: var(--c-red--d);
}

.login__section--label,
.login__section--input {
  width: 100%;
  transition: all 0.2s ease;
}

.login__section--label {
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: var(--c-white);
  border-bottom: 0.25rem solid transparent;
  font-weight: 500;
  cursor: pointer;
}

.login__section--label:hover {
  color: var(--c-red--d);
}

.login__section--input {
  padding-bottom: 0.5rem;
  font-weight: 400;
}

.login__section--input:focus,
.login__section--input:hover {
  color: var(--c-black);
}

.invalid {
  border-color: var(--c-red);
}

.valid {
  border-color: var(--c-green--d);
}

.login__submit {
  background-color: var(--c-red--d);
  cursor: pointer;
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 6.8125rem;
  min-height: 2.5rem;
  font-weight: 500;
  color: var(--c-white--ls);
  text-align: center;

  transition: all 0.2s ease;
}

.login__submit:hover,
.login__submit:focus {
  transform: scale(1.03);
}

@media screen and (min-width: 1024px) {
  .login {
    gap: 1.5rem;
  }

  .login__legend {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
  }

  .login__section {
    min-width: 26.4375rem;
  }

  .login__submit {
    width: 100%;
    max-width: 26.4375rem;
    padding: 1rem;
  }
}
