@import url('./normalize.css');
@import url('./reset.css');
@import url('./header.css');

:root {
  --c-white: #f1eeef;
  --c-white--d: #e8e3e5;
  --c-white--ds: #dcd5d8;
  --c-red: #f03844;
  --c-red--d: #e4111f;
  --c-red--ds: #b40e19;
  --c-black: #0a090c;
  --c-black--l: #221f29;
  --c-black--ls: #3a3546;
  --c-gray: #6d6779;
  --c-gray--l: #868093;
  --c-gray--ls: #a09cab;
}

body * {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: var(--c-white);
}
