@import url("./animations.css");

.main__products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__products--geeks,
.main__products--consoles,
.main__products--miscelaneous {
  padding: 1rem;
}

.products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: .125rem solid var(--c-gray--ls);
  margin-bottom: 2rem;
  padding-bottom: .25rem;
}

.products__header--title {
  font-size: 1.375rem;
  font-weight: 700;
}

.products__header--link {
  font-size: 1rem;
  font-weight: 700;

  color: var(--c-black);
  
  display: flex;
  align-items: center;
  gap: 0.25rem;
  
  padding: .5rem;

  transition: all .3s ease;
}

.products__header--link:hover,
.products__header--link:focus {
  background-color: var(--c-red);
  color: var(--c-white--ls);
  box-shadow: 0 0 .5rem var(--c-gray);
}

.products__toggle {
  cursor: pointer;

  font-size: 1.5rem;
  
  transition: all .1s ease;
}

.products__toggle.expanded {
  transform: rotate(180deg);
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(163px, 100%), 1fr));
  gap: 1rem;

  max-height: 0;
  overflow: hidden;
 
  transition: max-height .2s ease-out;
}

.products__list.expanded {
  min-height: 20rem;
  max-height: 100rem;
  overflow: visible;
}

.products__list.loading {
  background: url("../assets/images/loading_thumbnail.svg") center / 15rem
    no-repeat;
}

.products__item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: space-between;
  
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  
  background-color: var(--c-white--ls);
  animation: fade-in 0.3s forwards;
  transition: all 0.3s ease-in-out;
}

.products__item:hover,
.products__item:focus-within {
  background-color: var(--c-white--l);
  box-shadow: 0 0 0.5rem var(--c-gray--ls);
}
.products__item:focus-within {
  transform: scale(1.03);
}

.item__banner {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  
  isolation: isolate;
}

.item__image {
  place-self: center;
  
  height: 10.1875rem;
  padding: 0.5rem;
  width: 10.1875rem;
  
  object-fit: contain;
}

.item__description {
  font-size: 0.875rem;
  font-weight: 500;
}

.item__price {
  font-size: 1rem;
  font-weight: 700;
}

.item__link {
  font-size: 0.875rem;
  font-weight: 700;
  
  display: inline-block;
  
  border-radius: .25rem;
  padding: .5rem;
  
  background-color: var(--c-red--d);
  color: var(--c-white--ls);
  
  text-decoration: underline;
  text-align: center;
}

.item__link:hover,
.item__link:focus {
  text-decoration: none;
}


@media screen and (min-width: 768px) {
  .main__products--geeks,
  .main__products--consoles,
  .main__products--miscelaneous {
    padding: 2rem;
  }

  .products__header--link {
    gap: 0.5rem;
  }

  .item__link {
    font-size: 1rem;
  }

  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(min(173px, 100%), 1fr));
  }

  .products__list.loading {
    background-size: 20rem;
  }

  .item__image {
    height: 10.8125rem;
    width: 10.8125rem;
  }
}

@media screen and (min-width: 1024px) {
  .main__products {
    gap: 4rem;
    
    padding: 4rem 9.5rem;
  }

  .main__products--geeks,
  .main__products--consoles,
  .main__products--miscelaneous {
    padding: 0;
  }

  .products__header--title {
    font-size: 2rem;
  }
}
